
.content-page img {
    width: 50%;
    height: 100vh;
}
.content-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-login {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 32px;
}

a {
    text-decoration: none;
    margin-top: 10px;
}